footer
{
    position: absolute;
    top:unset;
    bottom: 0;
    left:0;
    right:0;
}
#content 
{
    background: rgba(250, 250, 250, 0.8);
    width:30%;
    position:relative;
    left:35%;
    border-radius: 10px;
}
#bulle
{
    display: none;
}
@media screen and (max-width: 980px)
{
    #content
    {
        width: 90%;
        left: 5%;
    }
}
#content form{
    display:block;
    width:100%;
    text-align:center;
}
#content ul
{
    list-style-type:none;
    padding : 0px;
}
#content ul li
{
    padding: 4px;
}
#content ul li a.new_article
{
    color:red;
}