{% extends "base.html" %}
{% load staticfiles %}
{% load cache %}
{% load emarkdown %}
{% load cut_intro %}

{%block style %}
<link rel="stylesheet" type="text/scss" href="{% static 'home/style.scss' %}" />
<link rel="stylesheet" type="text/scss" href="{% static 'home/accueil.scss' %}"/>
{%endblock %}

{%block title%}Accueil{%endblock%}

{%block content%}

<section id="intro">
  <h2>Accueil</h2>
  <p>{{site_infos.site_intro}}</p>
  <a href="#last_articles" class="scrollTo" title="Ça a l'air intéressant !"></a>
</section>
<section id="last_articles">
  <h2>Derniers articles :</h2>
  <div id="slider_container">
  <span id="sl_play" class=""></span>  
  <span id="sl_pause" class="sl_command"></span>  
  
  <span id="sl_i1" class="sl_command sl_i"></span>  
  <span id="sl_i2" class="sl_command sl_i"></span>  
  <span id="sl_i3" class="sl_command sl_i"></span>  
  <span id="sl_i4" class="sl_command sl_i"></span>
  
  <div id='events'>
  <a class="play_commands pause" href="#sl_pause" title=" Maintain paused">Pause</a>  
  <a class="play_commands play" href="#sl_play" title="Play the   animation">Play</a> 
    
  <!--   <a class="command prev commands1" title="Aller à la  slide précédente" href="#sl_i4" ></a>
  <a class="command next commands1" title="Aller à la slide   suivante" href="#sl_i2" ></a>
  <a class="command prev commands2" title="Aller à la slide   précédente" href="#sl_i1" ></a>
  <a class="command next commands2" title="Aller à la slide   suivante" href="#sl_i3" ></a>
  <a class="command prev commands3" title="Aller à la slide   précédente" href="#sl_i2" ></a>
  <a class="command next commands3" title="Aller à la slide   suivante" href="#sl_i4" ></a>
  <a class="command prev commands4" title="Aller à la slide   précédente" href="#sl_i3" ></a>
  <a class="command next commands4" title="Aller à la slide   suivante" href="#sl_i1" ></a>
  -->
    <div id='container'>
      <div id='slider'>
        {% cache 10800 event_list event_list%}
        {% if event_list %}
        <!--
          {% for event in event_list %}
            {% for article in event.article_set.all %}
              --><figure>
                {%if event.image%}
                <img src="{{MEDIA_URL}}{{event.image}}"/>
                {%else%}
                <img src="{% static 'Svgk_baneer.png' %}"/>
                {%endif%}
                <figcaption>
                  <h3>{{event.name}}</h3> 
                  <em>par {{article.author.user.username}}</em>
                <a class="button right_arrow" href="/article/{{article.pk }}">Consulter</a>
                  <span id='intro_article'>
                    {%for a in event.article_set.all%}
                    {{a.introduction | cut_intro | emarkdown |  safe}}
                    {%endfor%}
                  </span>
                </figcaption>
              </figure><!--
            {%endfor%}
          {%endfor%}
            -->
        {% else %}
          <h3>Pas (encore !) d'évènements disponibles.</h3>
        {% endif %}
        {% endcache %}
      </div>
    </div>
  </div>

  <ul class="dots_commands"><!-- 
  --><li><a title="slide1" href="#sl_i1" id="sldot_1">Slide 1</a  ></li><!-- 
  --><li><a title="slide2" href="#sl_i2" id="sldot_2">Slide 2</a  ></li><!-- 
  --><li><a title="slide3" href="#sl_i3" id="sldot_3">Slide 3</a  ></li><!-- 
  --><li><a title="slide4" href="#sl_i4" id="sldot_4">Slide 4</a  ></li>  
  </ul>  
  </div>
  <a href="#contact" class="scrollTo" title="Ça a l'air intéressant !"></a>
</section>
<section id="contact"><h2>Contact :</h2>{{site_infos.contact|emarkdown|safe}}
<a href="#signin" class="scrollTo" title="Ça a l'air intéressant !"></a>
</section>
<section id="signin">
  <h2>Inscription <small>(engagez vous qu'ils disaient)</small> :</h2>
  <form action="/member/signin/" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ signin.as_p }}
    <input type="submit" value="S'inscrire" class="right_arrow"/>
  </form>
</section>
{% endblock %}