{% extends "article/articleBase.html" %}
{% load static %}

{%block articleStyle%}<link rel="stylesheet" type="text/css" href="{% static 'article/edit.css' %}">
{%endblock%}

{% block content %}
<h1>Édition</h1>
<form action="" enctype=multipart/form-data method=POST>
{% csrf_token %}
{{form.as_p}}
<input type="submit" name="save_and_add" value="Enregistrer et ajouter un nouveau">
<input type="submit" name="save_and_quit" value="Enregistrer et retourner à l'article">
<input type="submit" name="cancel" value="Supprimer">
</form>
{% endblock %}