{% load staticfiles %}
{% load category_list %}
{% load compress %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
        <link rel="icon" type="image/png" href="{% static 'Svgk.png' %}" />
        {% compress css inline%}
        <link rel="stylesheet" type="text/scss" href="{% static 'basic_style.scss' %}" />
		{% block style %}{% endblock %}
        {%endcompress%}
		<title>{% block title %}{% endblock %} • {%if flavour == "mobile" %}Sivigik mobile{%else%}Sivigik{%endif%}</title>

        <meta name="description" content="Un site de passionnés de bidouillage qui vous font partager cette passion !"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        {% compress js inline %}
        <script src="{% static 'analytic.js' %}"></script>
        <!--<script src="{% static 'jquery-1.7.1.min.js' %}"></script>-->
        <script type="text/javascript">
        $(document).ready(function() {
        $('.scrollTo').click( function() { // Au clic sur un élément
            var page = $(this).attr('href'); // Page cible
            var speed = 750; // Durée de l'animation (en ms)
            $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
            return false;
        });
    });
        </script>
        {% endcompress %}
        {%block scripts%}
        {%endblock%}
	</head>
	<body id='body'>
        <script type="text/javascript">main_analytic();</script>
        <span id="show_menu"></span>
        <span id="hide_menu"></span>
        <nav class='mobile'>
        <span id="search">
            <form action="/search/result/">
                <input type="text" placeholder="Rechercher" name="q"></input>
                <button title="Lancer la recherche" type='submit' class="menu_button menu_button_separator_l">OK</button>
            </form>
            </span>
        <ul class="nav_table">{% categories current=current show_beta=user.is_authenticated style="mobile"%}
            <li>{% if user.is_authenticated %}
                <a id='user_nav' class="maximized_small_screen button" href='/member/profil'>{{user.username}}</a>
            {% else %}
                <a id='user_nav' class="maximized_small_screen button" href='/member/login'>Log In</a>
            {%endif%}</li>
            </ul>
        </nav>
        <div id='main_view'>
        <header>
            <a id="show_menu_btn" title="Show Menu" href="#show_menu"></a>
            <a id="hide_menu_btn" title="Hide Menu" href="#hide_menu"></a>
            {% block header %}<a href="/" title="Sivigik"><h1>Sivigik</h1></a>{% endblock %}
            <span id="search">
            <form action="/search/result/">
                <input type="text" placeholder="Rechercher" name="q"></input>
                <button title="Lancer la recherche" type='submit' class="menu_button menu_button_separator_l">OK</button>
            </form>
            </span>
            <span id="to_user">
            <a class="menu_button menu_button_separator_r" title="Notre page facebook" href="https://www.facebook.com/Sivigik" target="_blank"><img alt="Whooops, il manque l'image !" src="{% static 'icon/facebook_bl.png' %}"/></a>
            <a class="menu_button menu_button_separator_r" title="Notre page twitter" href="https://twitter.com/Sivigik" target="_blank"><img alt="Whooops, il manque l'image !" src="{% static 'icon/twitter_bl.png' %}"/></a>
            <a class="menu_button menu_button_separator_r" title="Notre compte github" href="https://github.com/Sivigik/" target="_blank"><img alt="Whooops, il manque l'image !" src='{% static "icon/github_bl.png" %}' /></a>
            <a class="menu_button menu_button_separator_r" title="Mail" href="mailto:sivigik@gmail.com"><img alt="Whooops, il manque l'image !" src='{% static "icon/mail_bl.png" %}'/></a>

            {% if user.is_authenticated %}
                <a id='user_nav' href='/member/profil'>{{user.username}}</a>
            {% else %}
                <a id='user_nav' href='/member/login'>Log In</a>
            {%endif%}
            </span>
        </header>
		<nav class="desktop">    
			<ul id="nav_table">
            {% categories current=current show_beta=user.is_authenticated%}
            </ul>
		</nav>
        <div id="main">
        {% block article_title %}{% endblock  %}
        {%block intro %}{%endblock%}
		<article id="content">
		    {% block content %}{% endblock %}
		</article>
        </div>
        <footer><p><a rel="license" href="http://creativecommons.org/licenses/by/4.0/" title="Ce(tte) œuvre est mise à disposition selon les termes de la licence Creative Commons   Attribution 4.0 International"><img alt="Licence Creative Commons" style="border-width:0" src="{% static '80x15.png' %}" /> Sivigik</a> • 
                <a href='https://github.com/Klafyvel/Sivigik'>Sources</a> • 
                <a href="javascript:gaOptout()" title="Cliquez ici pour vous opposer aux cookies de mesure d'audience de Google">Cookies</a></p>
        </footer>
        </div>
	</body>
</html>
