{% extends "base.html" %}
{% load staticfiles %}
{% load cache %}
{% load emarkdown %}
{% load compress %}

{%block style %}<link rel="stylesheet" type="text/scss" href="{% static 'article/style.scss' %}" />
<link rel="stylesheet" type="text/scss" href="{% static 'article/comment.scss' %}" />
{% endblock %}

{%block scripts%}
<script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$', '$']],
                displayMath: [['$$','$$']],
                processEscapes: true,
            },
            TeX: { extensions: ["color.js", "cancel.js", "enclose.js", "bbox.js", "mathchoice.js", "newcommand.js", "verb.js", "unicode.js", "autobold.js", "mhchem.js"] },
            messageStyle: "none",
        });
    </script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{%endblock%}

{% block title %}{{ article.event.name }}{% endblock %}

{% block article_title %}<div id="page_title">
<h2>{{ article.event.name }}</h2>
{% if article.event.image %}<span style="background-image : url('{{MEDIA_URL}}{{article.event.image}}');" alt="banière"> </span>
{% else %}<span style="background-image : url('{% static 'Svgk_baneer.png' %}"');' alt="banière"> </span>
{%endif%}
</div>
<div id="article_control">
<div id="author">
{% if article.author.avatar %}<img src="{{MEDIA_URL}}{{ article.author.avatar }}">{%else%}<img src='{% static 'Svgk.png' %}'>{%endif%}
<h3>{{article.author.user.username}}</h3>
</div><!--
--><div id="bulle_control"><ul>
    <li><em>Voir aussi :</em><ul>
        {% for a in article.author.get_five_last_articles %}
        <li><a href="{{a.get_absolute_url}}">{{a.event.name}}</a></li>
        {%endfor%}
    </ul></li>
    <li><em>Partager :</em><ul>
        <li><a href="https://facebook.com/Sivigik/">facebook</a></li>
        <li><a href="https://twitter.com/Sivigik/">twitter</a></li>
    </ul></li>
    <li><em>Commentaires :</em><ul>
    <li><a href="{{article.get_absolute_url}}">Retourner à l'article</a></li>
    </ul></li>
</table>
</div>
</div>{%endblock%}

{% block content %}
<h3>Commentaires :</h3>
{%for c in article.comments.all%}
<article class="message">
<div class="author">
<span class="author_name">{{c.member.user.username}}</span>
<span class="author_avatar"><img src="{{MEDIA_URL}}{{ c.member.avatar }}"></span>
</div><!--
--><div class="message_text">
{{c.text | emarkdown | safe}}
</div>
</article>
{%endfor%}
{% endblock %}
