{% extends "base.html" %}
{% load staticfiles %}
{% load cache %}
{% load emarkdown %}
{% load compress %}

{%block style %}<link rel="stylesheet" type="text/scss" href="{% static 'article/style.scss' %}" />
{% endblock %}

{%block scripts%}
<script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$', '$']],
                displayMath: [['$$','$$']],
                processEscapes: true,
            },
            TeX: { extensions: ["color.js", "cancel.js", "enclose.js", "bbox.js", "mathchoice.js", "newcommand.js", "verb.js", "unicode.js", "autobold.js", "mhchem.js"] },
            messageStyle: "none",
        });
    </script>
    <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{%endblock%}

{% block title %}{{ article.event.name }}{% endblock %}

{% block article_title %}
{% if article.is_beta %}
<div class='beta_banneer'><p>B&Ecirc;TA</p></div>
{%endif%}
<div id="page_title">
<h2>{{ article.event.name }}</h2>
{% if article.event.image %}<span style="background-image : url('{{MEDIA_URL}}{{article.event.image}}');" alt="banière"> </span>
{% else %}<span style="background-image : url('{% static 'Svgk_baneer.png' %}"');' alt="banière"> </span>
{%endif%}
</div>
<div id="zenActivator"><a href="#"><a href ="#expandAll" id="openLink">Ouvrir toutes les parties</a></a></div>
<div>
<div id="article_control">
<div id="author">
{% if article.author.avatar %}<img src="{{MEDIA_URL}}{{ article.author.avatar }}">{%else%}<img src='{% static 'Svgk.png' %}'>{%endif%}
<h3>{{article.author.user.username}}</h3>
</div><!--
--><div id="bulle_control"><ul>
    <li><em>Voir aussi :</em><ul>
        {% for a in article.author.get_five_last_articles %}
        <li><a href="{{a.get_absolute_url}}">{{a.event.name}}</a></li>
        {%endfor%}
    </ul></li>
    <li><em>Partager :</em><ul>
        <li><a href="https://facebook.com/Sivigik/">facebook</a></li>
        <li><a href="https://twitter.com/Sivigik/">twitter</a></li>
    </ul></li>
    <li><em>Commentaires :</em><ul>
    <li><a href="{{article.get_comment_url}}">Accéder aux commentaires</a></li>
    </ul></li>
    {%if user.is_authenticated%}
    <li><em>Édition :</em><ul>
    <li><a href="{{article.get_edit_url}}">Éditer cet article</a></li>
    </ul></li>
    {%endif%}
</table>
</div>
</div>{%endblock%}

{% block content %}
{% if not user.is_authenticated and article.is_beta %}
<h3>Vous n'êtes pas autorisé à voir cet article.</h3>
<a href="http://levisiteurdufutur.com/" rel="nofollow"><img src="http://www.heberger-image.fr/data/images/59812_beta_r.gif" alt="c'est une bêta."/></a>
{%else%}
<div id="expandAll"></div>
<div id="intro_article" class="part">{{article.introduction|emarkdown|safe}}</div>
{% for  p in article.parts.all %}
<div id="part_{{p.pk}}" class="part">
<div id="show_{{p.pk}}" class="show_part"></div>
<a href="#intro_article" class="close_part"><a href="#show_{{p.pk}}"><h3 id="title_{{p.pk}}">{{p.title}}</h3></a></a>
<div id="text_part_{{p.pk}}" class="part_text">{{p.text | emarkdown |safe}}
<a href="#intro_article" class="close_part_bottom">↑ Réduire</a></div>
</div>
{%endfor%}
{%endif%}
{% endblock %}
