{% extends "article/articleBase.html" %}

{%load static%}
{% load emarkdown %}

{% block articleStyle %}<link rel="stylesheet" type="text/css" href="{% static 'article/detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'article/code.css' %}">{% endblock %}

{% block articleScript %}<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js">
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  config: ["MMLorHTML.js"],
  jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
  extensions: ["MathMenu.js", "MathZoom.js"]
});
</script> -->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{%endblock%}

{% block title %}
{{article.title}} - Sivigik
{%endblock%}

{% block begining %}<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>{% endblock %}

{% block meta %}
<meta property="og:url" content="{{ request.build_absolute_uri }}"/>
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ article.title }}"/>
<meta property="og:description" content="{{article.short}}"/>
<meta property="og:locale" content="fr-FR"/>
<!-- <meta property="fb:app_id" content="{YOUR_APP_ID}" /> -->
{%endblock%}
{% block author %}
<h2>Auteur(s) :</h2>
<p>{% for a in article.authors.all %}{{a.username}}<br/>{%endfor%}</p>
{% if user.is_authenticated %}
<a href="{% url 'article:edit' article.pk %}">Éditer cet article</a>
{% endif %}
{% endblock %}

{%block connect%}{% endblock %}

{% block content %}
{% if not user.is_authenticated and article.is_beta %}
<h3>Vous n'êtes pas autorisé à voir cet article.</h3>
<a href="http://levisiteurdufutur.com/" rel="nofollow"><img src="http://www.heberger-image.fr/data/images/59812_beta_r.gif" alt="c'est une bêta."/></a>
{%else%}
<h1>{{article.title}}</h1>
<p id="pub_date"> Le {{article.pub_date|date}}</p>

{{text | emarkdown |safe}}
{%endif%}
<hr>
<p>
On est sur les réseaux sociaux !
</p>
<div id=social>
<a class="twitter-share-button"
  href="https://twitter.com/intent/tweet?via=Sivigik" data-size="large" data-text="{{article.title}}" data-url="{{ request.build_absolute_uri }}">
Tweet</a>
<div class="fb-share-button" data-href="{{request.build_absolute_uri}}" data-layout="button" data-size="large" data-mobile-iframe="false"></div><br/>
<div class="fb-comments" data-mobile="true" data-href="{{request.build_absolute_uri}}" data-numposts="5"></div>
</div>
{% endblock content %}