{% extends "base.html" %}

{%load static%}
{% load emarkdown %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'article/detail.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'article/code.css' %}">
{% endblock %}

{% block script %}
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{%endblock%}

{% block title %}
{{article.title}} - Sivigik
{%endblock%}

{% block begining %}<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.9";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>{% endblock %}

{% block meta %}
<meta property="og:url" content="{{ request.build_absolute_uri }}"/>
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ article.title }}"/>
<meta property="og:description" content="{{article.short}}"/>
<meta property="og:locale" content="fr-FR"/>
{%endblock%}

{% block content %}
<div class="wrapper style2">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="col-8 col-12-medium">
          <div id="content">
            <article>
              <header class="major">
                <h2>{{article.title}}</h2>
                <span class="date">Le {{ article.pub_date | date }}</span>
              </header>
              {{ text | emarkdown | safe }}
              <hr>

            </article>
          </div>
        </div>
        <div class="col-4 col-12-medium">
          <div id="sidebar">
            <section>
              <header class="major">
                <h2>Auteur{{ article.authors.all | length |pluralize}}:
                {% if article.authors.all.count > 1 %}
                {{ article.authors.all | slice:":-1" | join:", " }} et {{ article.authors.last }}
                {% else %}
                {{ article.authors.first | title}}
                {% endif %}
                </h2>
              </header>
              {% if user.is_authenticated %}
                <a href="{% url 'article:edit' article.pk %}">Éditer cet article</a>
              {% endif %}
              <p>On est sur les réseaux sociaux (et dans les villes, et dans les campagnes)</p>
              <a class="fa fa-twitter"
                 href="http://twitter.com/share?text=Sivigik : {{article.title}}&url={{request.build_absolute_uri}}"></a>
              <a class="fa fa-facebook"
                 href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_uri}}" target="_blank"></a>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper style3">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="col-12 col-12-medium">
          <div id=social>
            <div class="fb-comments" data-mobile="true" data-href="{{request.build_absolute_uri}}" data-numposts="5"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
