{% extends "base.html" %}
{% load staticfiles %}
{% load compress %}

{%block style %}<link rel="stylesheet" type="text/scss" href="{% static 'article/style.scss' %}" />
<link rel="stylesheet" type="text/scss" href="{% static 'article/editor.scss' %}">{% endblock %}
{% block scripts %}
{% compress js %}
<script src="{%static 'article/editor.js'%}"></script>
{% endcompress %}
{%endblock%}
{% block title %}Édition{% endblock %}

{% block article_title %}<div id="page_title"><h2>Édition</h2></div>{%endblock%}

{% block content %}
<div id="article">
<form action="{{send_to}}" method="post" enctype="multipart/form-data">{% csrf_token %}
{{ form.as_p }}
{{ parts.management_form }}
<div id="formsetZone">
{% for p in parts %}
<div class="npart">
    {{p.as_p}}
    <div class='btn btn-warning btn-sm bt_rm_sorte'>
                <button class='glyphicon glyphicon-trash maximized'>Supprimer</button>
    </div>
</div>
{%endfor%}
</div>
<button id="bt_add_part" type="button" class="maximized">Ajouter une partie</button>
<br/><input type="submit" value="Enregistrer" class="maximized"/>
</form>
<div style="display:none;">
<div id="epart" class="npart">
{{ parts.empty_form.as_p }}
<div class='bt_rm_sorte'>
                <button class='glyphicon glyphicon-trash maximized'>Supprimer</button>
        </div>
</div>
</div>
</div>
{% endblock %}
