{% extends "base.html" %}
{% load static %}

{%block style%}<link rel="stylesheet" type="text/css" href="{% static 'article/edit.css' %}">
{%endblock%}

{% block title %}
{{ object.title }}, édition - Sivigik
{% endblock %}

{% block content %}
<div class="wrapper style2">
  <div class="inner">
    <div class="container">
      <div id="content">
        <article>
          <header class="major">
            <h2>Édition : {{object.title}}</h2>
            <p>Les images seront téléversées vers /media/article/{{object.pk}}/attachments/ .</p>
          </header>
          <a class="button alt icon fa-arrow-circle-right" href="{% url 'article:article-detail-pk' object.pk %}">Voir l'article</a> <!--
          --><a class="button alt icon fa-download" href="{% url 'article:archive' object.pk %}">Télécharger l'archive</a>
          <h3>Général</h3>
          <form action="" enctype=multipart/form-data method=POST>
            {% csrf_token %}
            <table>
            {{form.as_table}}
            </table>
            <input class="button alt" type="submit" name="save" value="Mettre à jour et rester sur cette page">
            <input class="button alt" type="submit" name="save_and_quit" value="Mettre à jour et retourner à la page d'édition">
          </form>
        </article>
        <article>
          <h3>Images</h3>
          <a href="{% url 'gallery:new_image' object.pk %}" class="button alt icon fa-plus">Ajouter une image</a>
          <div class="attachment_list">
          <table>
            <tr>
              <th>Image</th>
              <th>URL</th>
              <th>Édition</th>
              <th>Suppression</th>
            </tr>
            {% for image in images %}
            <tr>
              <td><img src="{{image.image.url}}"/></td>
              <td><a href="{{image.image.url}}">{{image.image.url}}</a></td>
              <td><a href="{% url 'gallery:edit' image.pk %}">Éditer</a></td>
              <td><a href="{% url 'gallery:delete' image.pk %}">Supprimer</a></td>
            </tr>
            {% endfor %}
          </table>
          </div>
        </article>
        <article>
          <h3>Fichiers</h3>
          <a href="{% url 'gallery:new_file' object.pk %}" class="button alt icon fa-plus">Ajouter un fichier</a>
          <div class="attachment_list">
            <table>
              <tr>
                <th>Fichier</th>
                <th>Édition</th>
                <th>Suppression</th>
              </tr>
              {% for file in files %}
              <tr>
                <td><a href="{{file.file.url}}">{{file.file.url}}</td>
                <td><a href="{% url 'gallery:edit' file.pk %}">Éditer</a></td>
                <td><a href="{% url 'gallery:delete' file.pk %}">Supprimer</a></td>
              </tr>
              {% endfor %}
            </table>
          </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
