{% extends "article/articleBase.html" %}
{% load static %}

{%block articleStyle%}<link rel="stylesheet" type="text/css" href="{% static 'article/edit.css' %}">
{%endblock%}

{% block content %}
<h1>Édition</h1>
<hr>
<h2>Général</h2>
<form action="" enctype=multipart/form-data method=POST>
{% csrf_token %}
{{form.as_p}}
<input type="submit" value="Mettre à jour">
</form>
<hr>
<h2>Images</h2>
<a href="{% url 'gallery:new_image' object.pk %}" class="add_attachement">Ajouter une image</a>
<div class="attachement_list">
<table>
	<tr>
		<th>Image</th>
		<th>URL</th>
		<th>Édition</th>
		<th>Suppression</th>
	</tr>
	{% for image in images %}
	<tr>
		<td><img src="/media/{{image.image}}"/></td>
		<td>/media/{{image.image}}</td>
		<td><a href="{% url 'gallery:edit' image.pk %}">Éditer</a></td>
		<td><a href="{% url 'gallery:delete' image.pk %}">Supprimer</a></td>
	</tr>
	{% endfor %}
</table>
</div>
<hr>
<h2>Fichiers</h2>
<a href="{% url 'gallery:new_file' object.pk %}" class="add_attachement">Ajouter un fichier</a>
<div class="attachement_list">
<table>
	<tr>
		<th>Fichier</th>
		<th>Édition</th>
		<th>Suppression</th>
	</tr>
	{% for file in files %}
	<tr>
		<td>/media/{{image.image}}</td>
		<td><a href="{% url 'gallery:edit' file.pk %}">Éditer</a></td>
		<td><a href="{% url 'gallery:delete' file.pk %}">Supprimer</a></td>
	</tr>
	{% endfor %}
</table>
</div>
{% endblock %}