{% extends "article/articleBase.html" %}
{% load static %}
{% block articleStyle %}<link rel="stylesheet" type="text/css" href="{% static 'article/list.css' %}">
{% if is_category %}
<style type="text/css">
	nav a#{{ category }}
	{
		background-color: #757575;
	}
</style>
{% endif %}
{%endblock%}

{% block title %}
Sivigik 
{% if is_category %}
- {{category_name}}
{%endif%}
{%endblock%}

{% block articleMore %}
{% if not is_category %}
<aside id="category-name" class="right_aside">
	<p>Sivigik est un blog collaboratif de passionnés de bricolage, venez partager cette passion ! </p>
	<p>Retrouvez sur cette page nos derniers articles.</p>
</aside>
{% endif %}
{% endblock %}

{% block content %}
	{% if is_category %}
	<article id="category-name">
	<h1>{{category_name}}</h1><p>{{category_descpr}}</p>
	</article>
	{% endif %}
	{% for article in articles %}
		<a class="article_link" href="{% url 'article:article-detail-wp' article.year article.month article.slug %}">
		<article><h2 class="article_title">{{ article.title }}</h2> <p class="article_short"> par {% for a in article.authors.all %}{{ a.get_username }} {%endfor%}</p> <span class="pub_date">{{ article.pub_date | date }}</span></article>
		</a>
	{% endfor %}
{% endblock %}