{% extends "base.html" %}

{% block title %}R&eacute;sultat de la recherche{%endblock%}
{% block article_title %}
        <h2>Vous avez recherch&eacute; <em>{{searched}}</em> :</h2>
{%endblock%}
{% block content %}
{%for c in categories %}
{{c}}
{%endfor%}
{%endblock%}