{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, target-densitydpi=device-dpi"/>
    <link rel="icon" type="image/png" href="{% static 'Svgk.png' %}" />
    <title>{{title}}  • Sivigik</title>
    <style>{{style|safe}}</style>
</head>
<body>
    {{content|safe}}
    <a href="{{from}}">Retour</a>
</body>
</html>