{% extends 'base.html'%}
{% load staticfiles %}

{% block style %}<link rel="stylesheet" type="text/scss" href="{% static 'member/style.scss' %}" />{% endblock %}

{% block title %}{{member.user.username}}{% endblock%}

{% block article_title %}<div id="page_title">Articles de {{member.user.username}}</div>{% endblock %}
{% block content%}
{%if member.is_author %}
<ul>
    {% for article in member.article_set.all %}
    <li><a href='/article/{{article.id}}'>{{article.event.name}}</a></li>
    {% endfor %} 
    <li><a href='/article/new/' class='new_article'>Créer un nouvel article.</a></li>
</ul>
{%else%}
<h2>Vous n'&ecirc;tes pas auteur.</h2>
{%endif%}
{%endblock %}
