{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}<link rel="stylesheet" type="text/scss" href="{% static 'member/style.scss' %}" />{% endblock %}

{% block title %}{{user.username}}{% endblock %}
{% block article_title %}<div id="page_title">Changement d'avatar</div>{% endblock %}

{% block content %}
{% if changed %}<h3>Avatar changé.</h3>{% endif %}

<form action="/member/change_avatar/" method="post" enctype="multipart/form-data">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
{% endblock %}