{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}<link rel="stylesheet" type="text/scss" href="{% static 'member/style.scss' %}" />{% endblock %}

{% block title %}{{user.username}}{% endblock %}
{% block article_title %}<div id="page_title">Création d'auteur</div>{% endblock %}

{% block content %}
{% if created %}<h3>Auteur créé.</h3>{% endif %}

<form action="/member/create_author/" method="post" enctype="multipart/form-data">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
{% endblock %}