{% extends 'base.html' %}

{%load staticfiles %}
{%block style%}<link rel="stylesheet" type="text/scss" href="{% static 'member/style.scss' %}" />{%endblock%}

{% block title%}login{% endblock %}

{% block content %}

{% if form.errors %}
<p>Vos identifiants sont incorrects.</p>
{% endif %}

<form method="post" action="/member/login/">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login" />
<input type="hidden" name="next" value="/" />
</form>
{% endblock %}
