{% extends 'base.html' %}
{% load i18n %}
{%load staticfiles %}
{%block style%}<link rel="stylesheet" href="{% static 'member/style.scss' %}" />{%endblock%}

{% block title%}Mot de passe{% endblock %}

{% block content %}
{% if form.errors %}
<p>Il y a une erreur...</p>
{%endif%}
<form action="" method="post" accept-charset="utf-8">{% csrf_token %}
<table>
<tr>
    <td>Ancien mot de passe</td>
    <td>{{ form.old_password }}</td>
</tr>
<tr>
    <td>Nouveau mot de passe</td>
    <td>{{ form.new_password1 }}</td>
</tr>
<tr>
    <td>Nouveau mot de passe (encore)</td>
    <td>{{ form.new_password2 }}</td>
</tr>
</table>
<p><input type="submit" value="{% trans 'Change' %}" /></p>
</form>

{% endblock %}
