{% extends 'base.html'%}
{% load staticfiles %}

{% block style %}<link rel="stylesheet" href="{% static 'member/style.scss' %}" />{% endblock %}

{% block title %}{{member.user.username}}{% endblock%}

{% block article_title %}<div id="page_title">Pages de {{member.user.username}}</div>{% endblock %}
{% block content%}
{% if member.is_author %}
<table>
    {% for page in member.staticcontent_set.all %}
    <tr><td>{{page.title}} <td><a class='button right_arrow full_width' href='/staticcontent/{{page.pk}}?f=/member/static_pages/'>Voir la page</a>
                    <a class='button right_arrow full_width validate' href='/staticcontent/{{page.pk}}/edit/'>Éditer la page</a></td></tr>
    {% endfor %} 
    <tr><td colspan="2"><a href='/staticcontent/new/' class='button right_arrow full_width'>Créer une nouvelle page statique.</a></td></tr>
</table>
{%else%}
<h2>Vous n'&ecirc;tes pas auteur.</h2>
{%endif%}
{%endblock %}
