@import url('/static/basic_style.css');
#content {
	background-color: #CCCCCC;
}
#content #bg
{
	text-align: justify;
	color: #999999;
	font-size: 4px;
}
#content h2 {
	font-family: Grandtitre, sans-serif;
	font-style : normal;
	color : red;
	-moz-transform:rotate(12deg);
	-webkit-transform:rotate(12deg);
	-o-transform:rotate(12deg);
	-ms-transform : rotate(12deg);
	display: block;
}
