@font-face {
    font-family: 'Grandtitre';
    src: url('font/DESTROY_-webfont.eot');
    src: url('font/DESTROY_-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/DESTROY_-webfont.woff') format('woff'),
    url('font/DESTROY_-webfont.ttf') format('truetype'),
    url('font/DESTROY_-webfont.svg#DestroyRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'eurof';
    src: url('font/eurof35.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVu Sans Light';
    src: url('font/DejaVuSans-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('font/DejaVuSansMono.ttf');
    font-weight: normal;
    font-style: normal;
}