body {
  margin : 0;
  padding: 0;
  background-color: #558aff;
}

header {
  background-color: white;
  padding: 1.5em;
  margin: 0;
  padding-left: 10%;
}

header img {
  max-width: 100%;
}

nav {
  background-color: #222222;
  text-align: center;
}

nav a {
  color : white;
  text-decoration: none;
  padding: 1em;
  display: inline-block;
  margin:0;
  font-weight: bold;
}

nav a:hover {
  background-color: #757575;
}

footer {
  background-color: #222222;
  color : white;
  padding: 1em;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

aside.right_aside {
  margin-bottom: 1em;
  padding: 5%;
}


@media only screen and (min-width: 768px) {
main {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

}