{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}<link rel="stylesheet" href="{% static 'author/style.css' %}" />{% endblock %}

{% block title %}{{user.username}}{% endblock %}
{% block article_title %}Changement d'avatar{% endblock %}

{% block content %}
{% if changed %}<h3>Avatar changé.</h3>{% endif %}

<form action="/author/change_avatar/" method="post" enctype="multipart/form-data">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>
{% endblock %}