{% extends "base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'author/login.css'%}">{% endblock %}

{% block content %}
<h1>Connexion</h1>

{% if form.errors %}
<p>Erreur d'authentification, merci de ré-essayer.</p>
{% endif %}

<form action="{% url 'author:login' %}" method="post">
{% csrf_token %}
<label for="id">Identifiant : </label>{{ form.username }}<br/>
<label for="password">Mot de passe : </label>{{ form.password }}<br/>
<input type="submit" value="Se connecter" />
</form>
{% endblock %}

