{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}<link rel="stylesheet" href="{% static 'author/style.css' %}" />{% endblock %}

{% block title %}{{user.username}}{% endblock %}
{% block article_title %}Profil{% endblock %}

{% block content %}
<ul>
    <li><a href='/author/set_password/'>Changer mon mot de passe</a></li>
    <li><a href='/author/change_avatar/'>Changer mon avatar</a></li>
    <li><a href='/author/articles/'>Mes articles</a></li>
    <li><a href='/author/logout/'>logout</a></li>
    {% if user.is_superuser %}
    <li><a href='/author/create_author/'>Créer un auteur</a></li>
    {% endif %}
</ul>
{% endblock %}

