@charset "utf-8";
@import "../colors";

footer
{
    position: relative;
    display: inline-block;
    width:100%;
    padding-left: 0;
    padding-right: 0;
}
#content 
{
    width:100%;
}
section {
    display: inline-block;
    width:100%;
    min-height: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
    a.scrollTo
    {
        border-style: solid;
        border-width: 10px;
        border-color: transparent transparent $grey $grey;
        position: relative;
        transform: rotate(-45deg);
        content: " ";
        overflow: hidden;
        text-indent: 100%;
        width: 32px;
        height: 32px;
        display: block;
        margin: 30px;
        margin-left: auto;
        margin-right: auto;
    }
} 
#intro {
    p
    {
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        font-size: 2vw;
        text-align: center
    }
}
#contact {
    p {
        width:60%;
    }
}
#signin {
    h2 {
        color: $white;
    }
}
#last_articles
{
    background: $blue;
    h2 {
        color: $white;
    }
    a.scrollTo {
        border-color: transparent transparent $white $white;
    }
    #slider_container
    {
        width:75%;
        margin-left: auto;
        margin-right: auto;
    }
    #events
    {
        background: $white;
        border: 1px solid #ddd; 
        border-radius: 2px 2px 2px 2px;  
        box-shadow: 0 0 3px rgba(0,0,0, 0.2);  
        padding: 15px;
        height: 310px;  
        margin-bottom: 20px;
        position: relative;
        margin-left:auto;
        margin-right: auto;

        #container
        {
            position: absolute;
            width:calc(100% - 30px);
            height:310px;
            overflow: hidden;
        }
        @keyframes slideranim
        {
            0%, 24%{left:0;}
            25%, 49%{left:-100%;}
            50%, 74%{left:-200%;}
            75%,99% {left:-300%;}
            100%{left:0;}
        }
        #slider
        {
            position: relative;
            width: 400%;
            animation: slideranim 20s infinite;
        }
        figure
        {
            width: 25%;
        }
    }

    #sl_i1:target ~ #events #container #slider{left:0 !important;  transition: all .5s;}
    #sl_i2:target ~ #events #container #slider{left:-100% !important;  transition: all .5s;}
    #sl_i3:target ~ #events #container #slider{left:-200% !important;  transition: all .5s;}
    #sl_i4:target ~ #events #container #slider{left:-300% !important;  transition: all .5s;}
    #sl_i1:target ~ .dots_commands #sldot_1 {outline: none !important;  background: orange !important;}
    #sl_i2:target ~ .dots_commands #sldot_2 {outline: none !important;  background: orange !important;}
    #sl_i3:target ~ .dots_commands #sldot_3 {outline: none !important;  background: orange !important;}
    #sl_i4:target ~ .dots_commands #sldot_4 {outline: none !important;  background: orange !important;}

    .sl_command:target ~ #events #slider,
    .sl_command:target ~ .dots_commands a {  
        animation-play-state: paused !important;  
    }  
    .sl_command:target ~ .dots_commands a
    {
        background: $white !important;
    }
    

    /* redémarrer les animations */  
    #sl_play:target ~ #events #slider,
    #sl_play:target ~ .dots_commands li a {  
        animation-play-state: running !important;  
    }  
    .play_commands
    {
        position: absolute;  
        top: 25px; left: 25px; 
        width: 22px;  
        height: 22px;  
        border:0 none;
        transition: opacity 1s, right 1s;
        position: absolute;
        z-index: 99998;
        text-indent: -9999px;  
        opacity: 0; 
    }
    .play
    {
        width: 0;
        height: 0;
        border-width: 15px;
        border-color: transparent transparent transparent $white;
        border-style: solid;
        margin: 15px;
    }
    .play { right: 55px; cursor: default; }  
    .pause:before, .pause:after
    {
        position: absolute;  
        display: block;  
        content: " ";  
        top:0;  
        width:38%;  
        height: 22px;  
        background: $white;  
        background: rgba(255,255,255,0.5);  
    }
    .pause:after { right:0; }  
    .pause:before { left:0; }
    #events:hover .pause,  
    .play_commands:focus {  
        opacity: 1;  
        outline: none;  
    }  
    .sl_command:target ~ #events .pause      { opacity:0; }  
    #sl_play:target ~ #events:hover .pause,  
    #sl_play:target ~ #events .pause:focus   { opacity:1; }  
    .sl_command:target ~ #events .play       { opacity:1; right: 25px; cursor: pointer; }  
    #sl_play:target ~ #events.play          { opacity:0; right: 55px; cursor: default; }  
    
    .dots_commands
    {
        padding:0;  
        margin:32px 0 0;  
        text-align: center;
    }
    .dots_commands li {  
        display: inline;  
        padding:0; margin:0;  
    }  
    .dots_commands a {  
        position: relative;  
        display: inline-block;  
        height:8px; width: 8px;  
        margin: 0 5px;  
        text-indent: -9999px;  
        background: $white;  
       
        border-radius: 50%;  
        box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;  
      
    }  
    .dots_commands a:focus {   
        outline: none;  
        background: orange;  
    }  
    
    .dots_commands li:first-child a { z-index: 25; }  
    
    
    .command
    {
        transform: rotate(45deg);
        background-color: unset;
        width: 20px;
        height: 20px;
        position: relative;
        top: 0;
        content: "";
        display: inline-block;
        float: right;
        border-style: solid;
        border-width: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        z-index: 999;
        content: " ";
        position: absolute;
        top:45%;
    
        display: none;
    }
    
    .prev
    {
        left: -3%;
        border-color: transparent transparent $white $white;
    }
    .next
    {
        left: 99.1%;
        border-color: $white $white transparent transparent;
    }
    .commands1
    {
        display: block;
    }
    #sl_i1:target ~ #events .commands1{display: block;}
    #sl_i2:target ~ #events .commands2{display: block;}
    #sl_i3:target ~ #events .commands3{display: block;}
    #sl_i4:target ~ #events .commands4{display: block;}
    
    @keyframes dot1anim
    {
        0%, 24%{outline: none;  background: orange;}
        25%, 49%{background: $white;}
        50%, 74%{background: $white;}
        75%,99% {background: $white;}
        100%{outline: none;  background: orange;}
    }
    @keyframes dot2anim
    {
        0%, 24%{background: $white;}
        25%, 49%{outline: none;  background: orange;}
        50%, 74%{background: $white;}
        75%,99% {background: $white;}
        100%{background: $white;}
    }
    @keyframes dot3anim
    {
        0%, 24%{background: $white;}
        25%, 49%{background: $white;}
        50%, 74%{outline: none;  background: orange;}
        75%,99% {background: $white;}
        100%{background: $white;}
    }
    @keyframes dot4anim
    {
        0%, 24%{background: $white;}
        25%, 49%{background: $white;}
        50%, 74%{background: $white;}
        75%,99% {outline: none;  background: orange;}
        100%{background: $white;}
    }
    #sldot_1 {animation: dot1anim 20s infinite;}
    #sldot_2 {animation: dot2anim 20s infinite;}
    #sldot_3 {animation: dot3anim 20s infinite;}
    #sldot_4 {animation: dot4anim 20s infinite;}

}
#signin
{
    background: $blue;
}


  

@media screen and (max-width: 980px)
{
    footer
    {

    bottom: unset;
    }
    #intro p
    {
        font-size: 7vw;
        width: 95%;
    }
#content
    {
        width: 100%
    }
#content #events
    {
        width: 75%;
        position: relative;
        height: 100%;
        padding: 0;
    }
#events #container
    {
        width: 100%;
        height: 100%;
        position: relative;
        left:0;
        top:0;
        margin: 0;
        padding: 0;
    }
   
}