#content {
  text-align: center;
}
table {
  margin-top:1em;
}
tr
{
  padding: 10px;
}
#content tr:nth-child(even) {
    background-color: #dddddd;
}
#content th, #content td {
  border-left: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

#content th {
  background-color: #999999;
  color : white;
}
