form input[type=checkbox] {
-moz-appearance: checkbox;

-webkit-appearance: checkbox;

-ms-appearance: checkbox;

appearance: checkbox;
}
#content tr:nth-child(even) {
    background-color: #dddddd;
}
#content table img
{
	max-width: 100%;
}

div.attachement_list {
	max-height: 25em;
	overflow-y: scroll;

}

div.attachement_list table {
  display:block;
	margin-left: auto;
	margin-right: auto;
}

form * {
	vertical-align: middle;
}
